/******
Styling for index.html
******/

body {
    width: 90%;
}

.tutorial-thumbnail {
    margin: 20px;
    padding: 10px;
    background-color: rgb(239, 218, 237);
    border-radius: 25px;
    text-align: center;
    width: 90%;
}

#ducharse img {
    width: 60%;
    height: auto;
}

#cepillarse-los-dientes img {
    width: 60%;
    height: auto;
}

#ducharse, #cepillarse-los-dientes {
    filter: drop-shadow(3px 6px 5px rgba(74, 39, 51, 0.541));
}

#ducharse:hover, #cepillarse-los-dientes:hover {
    filter: none;
}
