/******
Global Styling
******/

* {
  box-sizing: border-box;
}

/* @font-family {
  font-family: "Glacial-Indifference";
  src: url("assets/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-family {
  font-family: "Glacial-Indifference";
  src: url("assets/fonts/GlacialIndifference-Italic.otf") format("opentype");
  font-style: italic;
} */

/* @font-family {
  font-family: "Glacial Indifference";
  src: url("assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
} */

body {
  font-family: "Lato", sans-serif;
  background-color: #FFCFCB;
  color: #47525E;
  height: 100%;
  width: 100%;
  margin: auto;
  font-size: 100%;
}

main {
  width: 100%;
  text-align: center;
  margin: auto;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #F95F62;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 850px) {
  body {

  }
}

/* HEADER */

header {
  width: 100%;
  height: 125px;
  display: inline-block;
  padding-top: 15px;
  position: relative;
  text-align: center;
}

#header-wrap {
  width: 100%;
  margin: auto;
}

#hogar {
  width: 75px;
  height: auto;
  position: absolute;
  left: 12px;
  top: 12px;
}

#hogar-shape {
  border: 7px solid #F95F62;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  position: relative;
  background-color: #FFE8E6;
  filter: drop-shadow(2px 4px 4px rgba(74, 39, 51, 0.541));
}

#hogar-contenedor {
  position: absolute;
  left: 15px;
  z-index: 1;
}

#nombre {
  font-size: 2em;
  position: absolute;
  margin: auto;
  left: 70px;
  top: 5px;
}

#nombre-shape {
  background-color: #fff;
  position: relative;
}

#nombre-contenedor {
  position: absolute;
  left: 90px;
  top: 50px;
  background-color: white;
  width: 225px;
  height: 50px;
  border-radius: 20px;
}

/* BOTONES DE NOMBRES (footer) */

footer {
  width: 100%;
  height: 80px;
  margin: auto;
  /* background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px; */
}

#seccion-de-botones-de-nombres {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: 80px;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
}

#botones-de-nombres button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  color: #fff;
  background-color: #F95F62;
  text-decoration: none;
  filter: drop-shadow(2px 3px 2px rgba(74, 39, 70, 0.541));
  height: 45px;
  width: 29%;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 10px;
}

.video-seccion {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

button:active {
  filter: none;
}
